@use '../../../styles.scss' as styles;

.contact-section {
    text-align: center;

    .section-description {
        max-width: 700px;
        margin: 0 auto 3rem;
        color: #777;
        font-size: 1.1rem;
        line-height: 1.7;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3rem;

        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-around;
            text-align: left;
        }
    }

    .contact-info,
    .resume-download {
        padding: 1.5rem;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.07);
        max-width: 400px;
        width: 100%;
    }

    h3 {
        font-size: 1.6rem;
        margin-bottom: 1.2rem;
        color: #333;
        font-weight: 600;
    }

    p,
    .contact-list li {
        color: #555;
        line-height: 1.5;
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    .contact-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: flex;
            align-items: center;

            i.bi {
                margin-right: 0.6rem;
                font-size: 1.1rem;
                color: styles.$primary-color;
            }

            strong {
                margin-right: 0.3rem;
                /* Reduced margin */
                font-weight: 600;
                color: #444;
            }

            a {
                color: styles.$primary-color;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .social-icons {
        display: inline-block;
        margin-top: 0.6rem;
        /* Reduced margin */
    }

    .social-icon-link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        color: #777;
        margin: 0 0.3rem;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: styles.$primary-color;
        }
    }

    .resume-download {
        text-align: center;
    }

    .resume-btn {
        padding: 0.7rem 1.8rem;
        font-size: 1rem;
        font-weight: 500;
        border-radius: 0.5rem;
        transition: background-color 0.3s ease;

        i.bi {
            font-size: 1rem;
        }
    }

    .back-to-home-link {
        margin-bottom: 1.8rem;
        text-align: left;

        @media (min-width: 768px) {
            text-align: left;
            margin-bottom: 2.2rem;
        }
    }

    .back-home-btn {
        padding: 0.5rem 1.2rem;
        font-size: 0.9rem;
        font-weight: 500;
    }
}